PIPELINE_ID=icesheets-ar5-icesheets-ssp585
SCENARIO=ssp585
BASEYEAR=2005
TLM_DATA=1
NSAMPS=20000
PYEAR_START=2020
PYEAR_END=2300
PYEAR_STEP=10
SEED=4321
CHUNKSIZE=662
CRATEYEAR_START=2080
CRATEYEAR_END=2100

STAGES=( "pre-process" "fit" "project" "post-process" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --scenario $SCENARIO --baseyear $BASEYEAR --tlm_data $TLM_DATA"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --pyear_start $PYEAR_START --pyear_end $PYEAR_END --pyear_step $PYEAR_STEP --seed $SEED --crateyear_start $CRATEYEAR_START --crateyear_end $CRATEYEAR_END"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --chunksize $CHUNKSIZE --locationfile $LFILE"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh

STAGE_SCRIPT[3]="ar5_project_icesheets_dev.py"
STAGE_SCRIPT[4]="ar5_postprocess_icesheets_dev.py"
