PIPELINE_ID=landwaterstorage-ssp-landwaterstorage-ssp585
SCENARIO=ssp5

SEED=1337
BASEYEAR=2005
PYEAR_START=2020
PYEAR_END=2300
PYEAR_STEP=10
DCRATE_LO=-0.4
CHUNKSIZE=6619

STAGES=( "pre-process" "fit" "project" "post-process" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --scenario $SCENARIO --pyear_start $PYEAR_START --pyear_end $PYEAR_END --pyear_step $PYEAR_STEP --baseyear $BASEYEAR"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --seed $SEED --dcrate_lo $DCRATE_LO"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --chunksize $CHUNKSIZE --locationfile $LFILE"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
STAGE_SCRIPT[3]="ssp_project_landwaterstorage_dev.py"
STAGE_SCRIPT[4]="ssp_postprocess_landwaterstorage_dev.py"