.DS_Store
*.pkl
/re.session*
/modules-data/*.tgz
/modules/emulandice/shared/packrat
/modules/emulandice/shared/*gz
\#*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
*~

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# IDEA / PyCharm
.idea/

makefile

# File for running runFACTS.py
/resources/resource_amarel.yml

Q-err.txt
*.nc