PIPELINE_ID=total-$SCENARIO
GLOBALDIR=test/data_global
LOCALDIR=test/data_local
PYEAR_START=2020
PYEAR_END=2100
PYEAR_STEP=10
SKIP_EXTRACT=1

STAGES=( "global" "local" )
STAGEOPTIONS[1]="--pyear_start $PYEAR_START --pyear_end $PYEAR_END --pyear_step $PYEAR_STEP --directory $GLOBALDIR"
STAGEOPTIONS[2]="--pyear_start $PYEAR_START --pyear_end $PYEAR_END --pyear_step $PYEAR_STEP --directory $LOCALDIR"

STAGE_SCRIPT[1]=total_workflow_dev.py
STAGE_SCRIPT[2]=total_workflow_dev.py