STAGES=( "pre-process" "fit" "project" "post-process" )

PIPELINE_ID=icesheets-FittedISMIP-icesheets-ssp585
SCENARIO=ssp585
TLM_DATA=1
NSAMPS=20000
PYEAR_START=2020
PYEAR_END=2300
PYEAR_STEP=10
SEED=4321
CRATEYEAR_START=2080
CRATEYEAR_END=2100
CHUNKSIZE=6619

STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --scenario $SCENARIO --tlm_data $TLM_DATA"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --pyear_start $PYEAR_START --pyear_end $PYEAR_END --pyear_step $PYEAR_STEP --seed $SEED --crateyear_start $CRATEYEAR_START --crateyear_end $CRATEYEAR_END"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --chunksize 6619 --locationfile $LFILE"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
