PIPELINE_ID=icesheets-ipccar6-ismipemuicesheet-$SCENARIO
BASEYEAR=2005
PYEAR_START=2020
PYEAR_END=2100
PYEAR_STEP=10
MODEL_DRIVER=FAIR
SEED=4321
CHUNKSIZE=662

STAGES=( "pre-process" "fit" "project" "post-process" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --scenario $SCENARIO --baseyear $BASEYEAR  --pyear_start $PYEAR_START --pyear_end $PYEAR_END --pyear_step $PYEAR_STEP --model_driver $MODEL_DRIVER"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --seed $SEED"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --chunksize $CHUNKSIZE --locationfile $LFILE"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh

STAGE_SCRIPT[3]="ipccar6_project_ismipemuicesheet_dev.py"
STAGE_SCRIPT[4]="ipccar6_postprocess_ismipemuicesheet_dev.py"
