PIPELINE_ID=extremesealevel-pointsoverthreshold-extremesealevel-SSP585
MINDAYS=250
MINYEARS=20
MATCH_LIM=1
CENTER_YEAR=2005
PCTPOT=95
GPD_POT_THRESHOLD=99.7
CLUSTER_LIM=72
TOTAL_LOCALSL_FILE=test/data/total-workflow-localsl.nc
TARGET_YEARS=2050,2100
GESLA_DIR=gesla_data
STATION_DATA_FILE="$PIPELINE_ID_station_data.pkl"
ESL_FIT_FILE="$PIPELINE_ID_fit.pkl"
SLPROJ_FILE="$PIPELINE_ID_slproj_data.pkl"
MIN_Z=5
MAX_Z=8
Z_STEP=0.01
ALLOWANCE_FREQ=0.01
NSAMPS=20000
SEED=4321

STAGES=( "pre-process" "fit" "project" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --minDays $MINDAYS --minYears $MINYEARS --match_lim $MATCH_LIM --center_year $CENTER_YEAR --pctPot $PCTPOT --gpd_pot_threshold $GPD_POT_THRESHOLD --cluster_lim $CLUSTER_LIM --total_localsl_file $TOTAL_LOCALSL_FILE --target_years $TARGET_YEARS --gesla_dir $GESLA_DIR" 
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID --station_data_file $STATION_DATA_FILE"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --esl_fit_file $ESL_FIT_FILE --slproj_file $SLPROJ_FILE --min_z $MIN_Z --max_z $MAX_Z --z_step $Z_STEP --allowance_freq $ALLOWANCE_FREQ --nsamps $NSAMPS --seed $SEED"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
