PIPELINE_ID=icesheets-ipccar6-larmipicesheet-ssp245
SCENARIO=ssp245
BASEYEAR=2005
PYEAR_START=2020
PYEAR_END=2300
PYEAR_STEP=10
TLM_DATA=1
NSAMPS=20000
SEED=4321
CRATEYEAR_START=2080
CRATEYEAR_END=2100
CHUNKSIZE=662

STAGES=( "preprocess" "fit" "project" "postprocess" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --scenario $SCENARIO --baseyear $BASEYEAR  --pyear_start $PYEAR_START --pyear_end $PYEAR_END --pyear_step $PYEAR_STEP --tlm_data $TLM_DATA"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --seed $SEED --crateyear_start $CRATEYEAR_START --crateyear_end $CRATEYEAR_END"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --chunksize $CHUNKSIZE --locationfile $LFILE"


source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
