PIPELINE_ID=icesheets-ipccar6-bambericesheet-$SCENARIO
SCENARIO=$RCPATHWAY
BASEYEAR=2005
PYEAR_START=2020
PYEAR_END=2300
PYEAR_STEP=10
SEED=4321
CHUNKSIZE=662

STAGES=( "preprocess" "fit" "project" "postprocess" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --scenario $SCENARIO --baseyear $BASEYEAR  --pyear_start $PYEAR_START --pyear_end $PYEAR_END --pyear_step $PYEAR_STEP"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --seed $SEED"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --chunksize $CHUNKSIZE --locationfile $LFILE"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
