PIPELINE_ID=fair-temperature-fair-ssp585
SCENARIO=ssp585
RCMIP_FILE=rcmip/rcmip-emissions-annual-means-v5-1-0.csv
PARAM_FILE=parameters/fair_ar6_climate_params_v4.0.nc
NSAMPS=20000
SEED=4321
CYEAR_START=1850
CYEAR_END=1900
SMOOTH_WIN=19

STAGES=( "pre-process" "fit" "project" "post-process" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --rcmip_file $RCMIP_FILE --scenario $SCENARIO"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID --param_file $PARAM_FILE"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --cyear_start $CYEAR_START --cyear_end $CYEAR_END --smooth_win $SMOOTH_WIN --seed $SEED"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
