STAGES=( "pre-process" "project" )

PIPELINE_ID=component-directsample-genmod
INPUT_DATA_FILE=
NSAMPS=20000
REPLACE=0
SEED=4321

STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --input_data_file $INPUT_DATA_FILE"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --replace $REPLACE --seed $SEED"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
