PIPELINE_ID=verticallandmotion-kopp14-verticallandmotion

STAGES=( "pre-process" "fit" "project" "post-process" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID "
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --nsamps 20000 --seed 7331 --baseyear 2005 --pyear_start 2020 --pyear_end 2300 --pyear_step 10 --locationfile $LFILE"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
