PIPELINE_ID=verticallandmotion-kopp14-verticallandmotion
SEED=4321
BASEYEAR=2005
PYEAR_START=2020
PYEAR_END=2300
PYEAR_STEP=10

STAGES=( "preprocess" "fit" "project" "postprocess" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID "
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --seed $SEED --baseyear $BASEYEAR --pyear_start $PYEAR_START --pyear_end $PYEAR_END --pyear_step $PYEAR_STEP --locationfile $LFILE"


source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
