SCENARIO=$RCPATHWAY
PIPELINE_ID=thermalexpansion-kopp14-thermalexpansion-$SCENARIO
MODEL_DIR=./SLR_ALL/
SEED=4321

STAGES=( "preprocess" "fit" "project" "postprocess" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --scenario $SCENARIO --model_dir $MODEL_DIR"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --nsamps $NSAMPS --seed $SEED"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID  --locationfile $LFILE"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
