PIPELINE_ID=glaciers-emulandice-glaciers-ssp585
BASEYEAR=2005
INPUT_DATA_FILE=test/input/fair-temperature-fair-ssp585_gsat.nc
CHUNKSIZE=600

PREEXEC[1]="source emulandice_environment.sh --Rscript"

STAGES=( "preprocess" "fit" "project" "postprocess" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --baseyear $BASEYEAR --input_data_file $INPUT_DATA_FILE"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --locationfile $LFILE --chunksize $CHUNKSIZE"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
