PIPELINE_ID=oceandynamics-tlm-oceandynamics-ssp585
SCENARIO=ssp585

STAGES=( "pre-process" "fit" "project" "post-process" )
STAGEOPTIONS[1]="--pipeline_id $PIPELINE_ID --scenario $SCENARIO --baseyear 2005 --pyear_start 2020 --pyear_end 2300 --pyear_step 10 --model_dir ./cmip6 --locationfile $LFILE"
STAGEOPTIONS[2]="--pipeline_id $PIPELINE_ID"
STAGEOPTIONS[3]="--pipeline_id $PIPELINE_ID --nsamps 20000 --seed 4321 --tlm 1"
STAGEOPTIONS[4]="--pipeline_id $PIPELINE_ID --chunksize 662 --nsamps 20000 --seed 4321"

source $FACTSSCRIPT_DIR/moduletest/moduletest.parsestages.sh
